<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf = "!onlyOdd">

          <li
            class="list-group-item"
            *ngFor="let item of even"
            [ngClass] = "{even: item % 2 === 0}"
            [ngStyle] = "{backgroundColor: item % 2 === 0 ? 'red' : 'transparent'}"
            >
            {{item}}
          </li>
        </div> -->
        <div *appUnless = "onlyOdd">

            <li
              class="list-group-item"
              *ngFor="let item of even"
              [ngClass] = "{even: item % 2 === 0}"
              [ngStyle] = "{backgroundColor: item % 2 === 0 ? 'red' : 'transparent'}"
              >
              {{item}}
            </li>
          </div>
        <div *ngIf = "onlyOdd">

          <li
          [ngClass] = "{odd: item % 2 !== 0}"
          [ngStyle] = "{'background-color': item % 2 !== 0 ? 'blue' : 'transparent'}"
            class="list-group-item"
            *ngFor="let item of odd">
            {{item}}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>I'm just for Test!</p>
      <p [appBetterHighlight] = "'red'" defaultColor = "yellow">I'm just for Better Test!</p>
      <!-- <p [appBetterHighlight] = "'red'" [defaultColor] = "'yellow'">I'm just for Better Test!</p> -->
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
    </div>
    <div [ngSwitch]="someNumber">
      <p *ngSwitchCase="5">Number 5</p>
      <p *ngSwitchCase="10">Number 10</p>
      <p *ngSwitchDefault>Default</p>

    </div>
  </div>
</div>
